aside.sidebar-filter.br-8
	.block-header
		h3 Người dùng
	.block-filter
		form.form-fillter(action="")
			.form-groups
				label Sắp xếp theo
				.form-select
					select.form-control
						option Mới nhất
			.form-groups
				label Chủ đề
				.form-select
					select.form-control
						option Câu chuyện tình yêu
			.form-groups
				label Nhãn
				.form-select
					select.form-control
						option Nhãn 1
			.form-groups.form-check
				label Được đọc nhiều nhất
				input.switch(type="checkbox")
			.form-groups
				button.btn-submit.btn-submit-w100(type="submit") Áp dụng
