section.banner-midde
	.container.br-8
		.row
			.banner-midde__content
				.banner-top_img
					img.img-fluid(src="./img/banner-midde-01.png", alt="")
				.banner-midde__caption
					h2.banner-midde__title.color-white
						| Cộng đồng với hơn 30.000 thành viên
