.featured-concepts__right{
	padding-right: 4rem;
}




.select-groups-2{
	display: flex;
	justify-content: space-between;
	position: relative;
	&:after {
		display: block;
		content: '';
		position: absolute;
		width: 10px;
		height: 2px;
		background: rgba(0, 0, 0, 0.5);
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.form-select{
		width:44%;
		margin-bottom: 0;
		.form-control {
			margin-bottom: 0;
		}
	}
}
