aside.sidebar-filter.br-8
	.block-header
		h3 Người dùng
	.block-filter
		form.form-fillter(action="")
			.form-groups
				label Sắp xếp theo
				.form-select
					select.form-control
						option Mới nhất
			.form-groups
				label Giới tính
				.form-select
					select.form-control
						option Nam
						option Nữ
						option Gay
						option Les
			.form-groups
				label Độ Tuổi
				.select-groups-2
					.form-select
						select.form-control
							option 10
					.form-select
						select.form-control
							option 100
			.form-groups
				label Nơi ở người tạo
				.form-select
					select.form-control
						option Quốc gia
				.form-select
					select.form-control.mb-0
						option Tỉnh/Thành phố
			.form-groups
				label Khoảng cách với vị trí của bạn
				.form-select
					select.form-control
						option < 3 km
			.form-groups.form-check
					label Hình ảnh
					input.switch(type="checkbox")
			.form-groups.form-check
				label Concept
				input.switch(type="checkbox")
			.form-groups.form-check
				label Profile đã xem
				input.switch(type="checkbox")
			.form-groups.form-check
				label Đã xem profile của tôi
				input.switch(type="checkbox")
			.form-groups.form-check
				label Yêu thích
				input.switch(type="checkbox")
			.form-groups.form-check
				label Đã yêu thích tôi
				input.switch(type="checkbox")
			.form-groups
				button.btn-submit.btn-submit-w100(type="submit") Áp dụng
