.profile-info__des-content
	.profile-info__des-title
		h3 Bio
		a.edit-btn(href="")
			i.icon-edit
	p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor. Morbi arcu tortor, euismod congue vulputate nec, luctus eu nisi. Donec gravida consectetur velit id auctor.
