.profile-info__des-content
	h4 Tính cách:
	p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor. Morbi arcu tortor, euismod congue vulputate nec, luctus eu nisi. Donec gravida consectetur velit id aucto
