.profile-info__des-content
	.profile-info__des-title
		h3 Mẫu người lý tưởng
		a.edit-btn(href="")
			img(src="./img/edit.svg", alt="")
	ul
		li
			h4 Giới tính
			p Nữ
		li
			h4 Tuỏi
			p Từ 25 - 35
		li
			h4 Chiều cao
			p 162cm
		li
			h4 Dáng người
			p Trung bình
		li
			h4 Học vấn
			p Đại học
		li
			h4 Nghề nghiệp
			p Nhân viên văn phòng
		li
			h4 Uống rượu
			p Không
		li
			h4 Hút thuốc
			p Không
.profile-info__des-content.mb-20
	h4 Sở thích
	p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor.
.profile-info__des-content
	h4 Lối sống
	p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor.
