.profile-info__des-content
	.profile-info__des-title
		h3 Thông tin liên lạc
		a.edit-btn(href="")
			i.icon-edit
	p
		img(src="./img/facebook.svg", alt="")
		| landonmontgomery
	p
		img(src="./img/twitter.svg", alt="")
		| landonmontgomery
	p
		img(src="./img/email.svg", alt="")
		| toby_raynor@gmail.com
	p
		img(src="./img/call.svg", alt="")
		| 141-775-1981
