.profile-info__des-content
	ul
		li
			h4 Chiều cao:
			p 172cm
		li
			h4 Ngoại hình:
			p Thon gọn
		li
			h4 Tình trạng hôn nhân
			p Độc thân
		li
			h4 Tôn giáo
			p Không
		li
			h4 Nghề nghiệp
			p Nhân viên văn phòng
		li
			h4 Trình độ:
			p Đại học
		li
			h4 Uống rượu:
			p Không
		li
			h4 Hút thuốc:
			p Không
