.profile-info__des-content
	.profile-info__des-title
		h3 Hồ sơ
		a.edit-btn(href="")
			img(src="./img/edit.svg", alt="")
	ul
		li
			h4 Họ
			p Burgess
		li
			h4 Tên
			p Johnny
		li
			h4 Chiều cao
			p 162cm
		li
			h4 Dáng người
			p Trung bình
		li
			h4 Nghề nghiệp
			p Nhân viên văn phòng
		li
			h4 Ngày sinh
			p 23/4/1990
		li
			h4 Tình trạng hôn nhân
			p Độc thân
		li
			h4 Học vấn
			p Thạc Sĩ
		li
			h4 Nghề nghiệp
			p Tài xế xe tải
		li
			h4 Thu nhập hàng tháng
			p 2.000 VND
		li
			h4 Thu nhập hàng tháng
			p 2.000 VND
		li
			h4 Tôn giáo
			p Bà la môn
		li
			h4 Nơi sống
			p Quận 1
		li
			p Tp. Hồ Chí Minh
.profile-info__des-content.mb-20
	h4 Mô tả về bạn
	p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor.
.profile-info__des-content
	ul
		li
			h4 Uống rượu
			p Không
		li
			h4 Hút thuốc
			p Không
.profile-info__des-content.mb-20
	h4 Tính cách
	p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor.
.profile-info__des-content
	h4 Quan điểm sống/Lối sống
	p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor.
