.profile-info__des
	.profile-info__des-item.br-8
		include ./gallery
	.profile-info__des-item.br-8
		include ./bio
	.profile-info__des-item.br-8
		include ./detail
		include ./character
	.profile-info__des-item.br-8
		include ./object
		include ./conception
