section.bannert-top
	.container
		.row
			.col-xs-12
				.banner-top__content
					.banner-top_img
						img.img-fluid(src="./img/banner-top.png", alt="")
					.banner-top__caption
						h2.banner-top__title
							| Lorem ipsum dolor sit amet.
						p.banner-top__desc
							| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, incidunt.
						a.btn-singup Đăng ký
section.banner-ads
	.container
		.row
			.col-md-6
				.banner-ads__img
					img.img-fluid(src="./img/banner-ads-01.png", alt="")
			.col-md-6
				.banner-ads__img
					img.img-fluid(src="./img/banner-ads-01.png", alt="")
section.featured-concepts
	.container
		.row
			.col-xs-12
				.featured-concepts__content
					.featured-concepts__left
						.featured-concepts__caption
							h2.featured-concepts__title
								| Lorem ipsum dolor sit amet.
							p.featured-concepts__desc
								| Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, impedit!
							a.btn-featured Trở nên nổi bật
					.featured-concepts__right
						.featured-concepts__slider
section.banner-midde
	.container
		.row
			.banner-midde__content
				.banner-top_img
					img.img-fluid(src="./img/banner-top.png", alt="")
				.banner-midde__caption
					h2.banner-midde__title
						| Lorem ipsum dolor sit amet.
section.home-users
	.container-small
		.row
			.col-md-4
				.sidebar-left
					aside.widget.sidebar-banner-ads	
						.sidebar-banner-ads__img
							img.img-fluid(src="./img/sidebar-banner-ads-01.png", alt="")
					aside.widget.sidebar-banner-ads	
						.sidebar-banner-ads__img
							img.img-fluid(src="./img/sidebar-banner-ads-02.png", alt="")
			.col-md-8		
				.lists-user
					ul.nav.nav-tabs
						li.active
							a(data-toggle="tab" href="#friend-boy") Tìm bạn Trai
						li
							a(data-toggle="tab" href="#friend-girl") Tìm bạn Gái
					.tab-content
						#friend-boy.tab-pane.fade.in.active
							.user-item
								.user-item__left
									.user-item__thumbnail
										img(src="./img/user-item-01.png", alt="")
								.user-item__right
									.user-item__info
										

						#friend-girl.tab-pane.fade
							h3 Menu 1
							p Some content in menu 1.
						
