.chat-content.br-8
	.chat-content__container
		.chat-content__header.chat-content__header--active
			img(src="./img/nav-01.png", alt="")
			h4
				| Dollie Reid
				span 26
		.chat-content__body
			.chat-content__friend
				img(src="./img/nav-01.png", alt="")
				.chat-content__message.chat-content__message-friend
					p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra euismod turpis molestie varius. Nunc quis mollis ex, a pellentesque urna. Aenean lacinia dui at urna tempus.
			.chat-content__me
				.chat-content__message.chat-content__message-me
					p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra euismod turpis molestie varius. Nunc quis mollis ex, a pellentesque urna. Aenean lacinia dui at urna tempus.
		.chat-content__footer
			input(type="text", name="" placeholder="Soạn tin nhắn")
			button(type="submit")
				span.fa.fa-paper-plane
