.user-item
	.user-item__left
		.user-item__thumbnail
			img(src="./img/slider-01.png", alt="")
		.user-concept__connect
			.user-item__connect
				a(href="#").user-item__like
					i.wd-icon.icon-normal
					| Thích
				a(href="#").user-item__message
					i.wd-icon.icon-chat
					| Nhắn tin
			a(href="#").btn.btn-primary.h6 Xem chi tiết
	.user-item__right
		.user-item__info.pb-15
			.user-item__info-left
				.user-item__avatar
					img(src="./img/nav-01.png", alt="")
				.user-item__default.pl-10
					.user-item__top.user-item__top--active
						.user-item__top-info
							h3.user-item__name.pr-10 Sơn
							span.user-item__age 16t
						.user-item__connect
							a(href="#").user-item__message
								i.wd-icon.fa.fa-ellipsis-h
					.user-item__bottom.color-text-2
						a(href="#").user-item__view.mr-20
							i.wd-icon.icon-view
							| 50k
						a(href="#").user-item__view-like.mr-20
							i.wd-icon.icon-favorite
							| 7k
						a(href="#").user-item__location.mr-20
							i.wd-icon.icon-map-pin
							| TP.HCM
			
		.user-item__concept.pt-12
			.user-concept__left
				.user-concept__title
					h3.pb-12.mb-0 Lorem ipsum dolor sit amet.
				ul.user-concept__info
					li
						span.f-bold
							| Chiều cao : 
						span 172cm
					li
						span.f-bold
							| Ngoại hình
						span Thon gọn
					li
						span.f-bold
							| Hút thuốc:
						span Không
					li
						span.f-bold
							| Uống rượu:
						span Không
				ul.user-concept__info
					li
						span.f-bold
							| Hôn nhân : 
						span Độc thân	
					li
						span.f-bold
							| Trình đọ : 
						span Đại học	
					li
						span.f-bold
							| Nghề nghiệp: 
						span Nhân viên văn phòng
			.user-concept__right
				.user-concept__desc
					strong Bio:
					p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor. Morbi arcu tortor, euismod congue vulputate nec, luctus eu nisi. Donec gravida consectetur velit id auctor. Phasellus quis lacinia lorem, convallis ultrices ante…
