.wao-header {
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	.row {
		@media screen and (max-width: 1350px){
			margin: 0;
		}
	}
	&--isScroll {
		box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
		.wao-menu {
			@media (min-width: 800px) {
				justify-content: space-between;
				.wao-topbar__logo--scroll {
					display: block;
				}
			}
			
		}
	}
}
