.wao-menu {
	width: 100%;
	@include media('<sm'){
		display: none;
	}
	ul {
		margin-bottom: 0;
		@media screen and (min-width: 768px){
			display: flex;
			justify-content: center;
		}
	}
	&__item {
		@media screen and (min-width: 768px){
			margin-right: rem(20px);
		}
		@include media('>lg'){
			margin-right: rem(55px);
		}
	}
	&__link {
		display: block;
		font-size: rem(16px);
		line-height: rem(24px);
		font-weight: 700;
		text-transform: uppercase;
		padding: rem(12px) 0 rem(18px) 0;
		position: relative;
		&::before {
			content: '';
			background-color: #ff6060;
			height: rem(4px);
			width: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			transition: width .4s ease-in-out;
		}
		&--active {
			&::before {
				height: rem(8px);
				width: 100%
			}
		}
		&:hover {
			&::before {
				width: 100%
			}
		}
	}
}
