.wao-topbar {
	width: 100%;
	display: flex;
	@media screen and (min-width: 800px) {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: rem(100px);
		box-shadow: inset 0 -2px 0 0  #f2f3f4;
		transition: margin-top .3s ease-in-out;
	}
	@media (max-width: 799.98px) {
		flex-direction: column;
		position: relative;
	}
	&__logo {
		a {
			display: block;
		}
		img {
			height: rem(70px);
			width: rem(200px);
		}
		@media (max-width: 799.98px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			img {
				height: rem(60px);
				width: rem(170px);
			}
		}
		@include media("<xs"){
			img {
				height: rem(45px);
				width: rem(130px);
			}
		}
		&--scroll {
			display: none;
			@media (min-width: 800px) {
				// display: block;
				max-width: 12rem;
				// margin-right: auto;
				// transform: scale(0);
				// transition: transform .3s ease-in-out;
			}
		}
	}
	&__search {
		// background-color: #f2f3f4;
		// width: 200px;
		// height: 44px;
		// display: flex;
		// align-items: center;
		// padding: rem(12px);
		
		input {
			border: none;
			// font-size: rem(14px);
			font-size: rem(14px);
			line-height: 1.43;
			width: 100%;
			background-color: inherit;
		}
		button {
			background-color: inherit;
			border: none;
			cursor: pointer;
			font-size: rem(20px);
			padding: 0;
		}
		@media (min-width: 800px) {
			background-color: #f2f3f4;
			width: 200px;
			height: 44px;
			display: flex;
			align-items: center;
			padding: rem(12px)
		}
		@media (min-width: 1200px) {
			width: 353px;
		}
		@media (max-width: 799.98px) {
			input {
				position: absolute;
				top: 100%;
				right: 0;
				background-color: #f2f3f4;
				width: 200px;
				height: 44px;
				padding: .5rem;
				transform: translateY(10px);
				opacity: 0;
				visibility: hidden;
				transition: all .4s ease-in-out;
			}
		}
		&.active {
			input {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&__right {
		display: flex;
		align-items: center;
		@media (max-width: 799.98px) {
			order: -1;
			justify-content: space-between;
			padding: rem(10px) 0;
			box-shadow: inset 0 -1px 0 #f2f3f4;
			flex-direction: column;
			align-items: flex-start;
		}
	}
	&__left {
		@media (max-width: 799.98px) {
			position: relative;
			padding: rem(10px) 0;
			height: rem(70px);
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__toggle {
		display: none;
		@media (max-width: 799.98px) {
			display: block;
			font-size: rem(20px);
		}
	}
	&__tools {
		a{
			display: inline-block;
			margin-right: 2.4rem;
		}
		svg {
			fill: #081526;
			transition: fill .3s ease-in-out;
			&:hover {
				fill: #ff6060;
			}
		}
		@media (max-width: 799.98px) {
			margin-bottom: 2rem;
		}
	}
	&__social {
		margin-right: rem(16px);
		a {
			display: inline-block;
			width: rem(35px);
			height: rem(35px);
			text-align: center;
			border-radius: 50%;
			border: solid 1px #081526;
			line-height: rem(35px);
			font-size: rem(20px);
			&:not(:last-child){
				margin-right: rem(11px);
			}
		}
		@media (min-width: 800px) {
			margin-right: rem(22px);
		}
		@media (max-width: 799.98px) {
			margin-bottom: 2rem;
		}
	}
	&__btn {
		a {
			display: inline-block;
			font-size: rem(16px);
			font-weight: 700;
			border-radius: 18px;
			height: rem(36px);
			line-height: rem(36px);
			text-align: center;
		}
		&-user {
			height: 3.6rem;
			width: 16.8rem;
			border-radius: 18px;
			overflow: hidden;
			border: 1px solid #081526;
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;
			&::before {
				content: '\f078';
				font-family: 'FontAwesome';
				font-size: .9rem;
				position: absolute;
				top: 50%;
				right: 16px;
				transform: translateY(-50%);
			}
			img {
				margin-right: .8rem;
			}
			p {
				font-size: 1.6rem;
				font-weight: 700;
				text-transform: uppercase;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 1;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				max-height: 2rem;
				margin-bottom: 0;
				white-space: nowrap;
			}
			padding: 0 3.2rem 0 1.6rem;
			svg {
				width: 2rem;
				height: 2rem;
			}
		}
		&-register {
			width: rem(113px);
			height: rem(36px);
			border: solid 1px #081526;
			color: #081526;
			margin-right: rem(16px);
		}
		&-login {
			width: rem(137px);
			background-color: #ff6060;
			color: #ffffff!important;
			svg {
				fill: #ffffff;
				margin-right: rem(8px);
			}
			@include media("<xs"){
				width: rem(113px);
				svg {
					display: none;
				}
			}
		}
	}
}
