section.blog-read
	.container-smaller.container
		.row
			.col-lg-8
				.blog-read__content.br-8
					.blog-read__text
						p Sed viverra tincidunt euismod. Aenean blandit justo neque, et ultrices lectus tincidunt finibus. Nullam a elementum risus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent vel rhoncus sapien, ac hendrerit magna. In dictum nunc eu enim posuere aliquam. In hac habitasse platea dictumst. Nunc sapien mi, imperdiet non dolor at, suscipit vestibulum turpis. Phasellus in elementum ante, in semper mauris.
						br
						br
						h3 Phasellus magna sapien, lacinia eget malesuada non, malesuada et elit.
						br
						p Morbi facilisis, erat in vestibulum blandit, mi velit egestas augue, et posuere dolor nibh in leo. Morbi quis neque eget tortor commodo consequat eu non lorem. Mauris eu ipsum et diam placerat varius. Duis tempus laoreet sapien ut laoreet. Maecenas tempus dui non est varius tristique. Mauris eu elit leo. Nam elementum nibh sapien, finibus feugiat ligula porta in. Nunc posuere, quam id ullamcorper pretium, magna nunc ultricies risus, feugiat porttitor tortor nisi sed velit. Integer in nunc eleifend, vehicula nisi blandit, aliquet arcu. Cras id ante vulputate, sodales tellus in, congue massa. Suspendisse ac ex suscipit velit cursus fringilla id sed arcu. Maecenas leo purus, accumsan sit amet semper quis, placerat sit amet massa. Cras in vehicula nibh. Vivamus quis finibus orci. Maecenas eget velit dictum, consectetur mi eget, tincidunt ligula.
						br
						img(src="./img/banner-midde-02.png", alt="")
						br
						p Morbi facilisis, erat in vestibulum blandit, mi velit egestas augue, et posuere dolor nibh in leo. Morbi quis neque eget tortor commodo consequat eu non lorem. Mauris eu ipsum et diam placerat varius. Duis tempus laoreet sapien ut laoreet. Maecenas tempus dui non est varius tristique. Mauris eu elit leo. Nam elementum nibh sapien, finibus feugiat ligula porta in. Nunc posuere, quam id ullamcorper pretium, magna nunc ultricies risus, feugiat porttitor tortor nisi sed velit. Integer in nunc eleifend, vehicula nisi blandit, aliquet arcu.
						br
						br
						h3 Cras id ante vulputate, sodales tellus in, congue massa.
						br
						p
							| Suspendisse ac ex suscipit velit cursus fringilla id sed arcu. Maecenas leo purus, accumsan sit amet semper quis, placerat sit amet massa. Cras in vehicula nibh. Vivamus quis finibus orci. Maecenas eget velit dictum, consectetur mi eget, tincidunt ligula.

							| Nam maximus sed quam quis volutpat. Integer interdum varius sagittis. Maecenas placerat orci elit, sed gravida velit maximus vel. Praesent nec pretium justo. Vivamus et diam elit. Etiam blandit nunc vel turpis viverra, ac commodo tellus consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin rutrum quam quis hendrerit varius.

							| Curabitur pulvinar, tellus in interdum sagittis, nisi nisi aliquet mauris, ac imperdiet urna velit sed nisi. Sed ut est at purus egestas finibus eu vitae diam. Vivamus id sem laoreet, pulvinar arcu et, feugiat diam. Mauris id tempor augue. Curabitur id cursus dolor. Fusce pulvinar enim nec tortor convallis laoreet. Vestibulum id est arcu. Phasellus pellentesque hendrerit nisl eu hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum eros vitae leo interdum scelerisque. Phasellus vel neque massa. Mauris sit amet libero sit amet nisi sodales dignissim sed vel sapien. Curabitur egestas enim sit amet tellus semper aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus malesuada neque nec ante pharetra, nec blandit orci porta. Morbi cursus hendrerit quam at blandit.
					.blog-read__footer
						a(href="#", title="title")
							i.fa.fa-heart-o
							| Yêu thích
						a(href="#", title="title")
							i.fa.fa-facebook
							| Chia sẻ trên facebook
						a(href="#", title="title")
							i.fa.fa-paper-plane
							| Gửi
						a(href="#", title="title")
							i.fa.fa-bookmark-o
							| Lưu vào facebook
				include ../blog-tag/index
			.col-lg-4
				include ../blog-others/index
				include ../slidebar-left/no-fb
