.profile-register
	.profile-register__header
		h3 Người đăng ký
		span (160 người)
	.profile-register__body
		.profile-register__item
			.profile-register__user.profile-register__user--online
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user.profile-register__user--online
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user.profile-register__user--online
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user.profile-register__user--online
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user.profile-register__user--online
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user.profile-register__user--online
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
		.profile-register__item
			.profile-register__user
				img(src="./img/nav-01.png", alt="")
				h4
					| Dollie Reid
					span 26
			.profile-register__action
				button.profile-register__action-check(type="submit")
					i.fa.fa-check
				button.profile-register__action-delete(type="submit")
					i.fa.fa-times
	.profile-register__footer
		a(href="#") Xem tất cả
