.blog-item.card
	.card-thumbnails
		img.img-fluid.w-100(src="./img/blog-01.png" alt="Card image cap")
	.card-body
		h5.card-title.f-bold Card title
		.card-middle
			span.card-date.mr-30
				i.icon-clock.wd-icon
				| 01/04/2019
			span.card-view
				i.icon-view.wd-icon
				| 7k view
		p.card-desc
			| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
