extends _layout/layout

block variables
	- var title = 'Blog-detail';
	- var description = 'Description for blog-detail page';
	- var bodyclass = 'blog-detail';


block body
	include ../lib/blog-banner/index
	include ../lib/blog-read/index
	include ../lib/home/sec-2/index
