extends _layout/layout-user

block variables
	- var title = 'Blog';
	- var description = 'Description for Blog page';
	- var bodyclass = 'blog';

block body
	include ../lib/concept-page/c-1/index
	include ../lib/home/sec-2/index
	include ../lib/blog-page/index
	include ../lib/home/sec-2/index
