extends _layout/layout

block variables
	- var title = 'Concept';
	- var description = 'Description for Concept page';
	- var bodyclass = 'Concept';

block body
	include ../lib/concept-page/c-1/index
	include ../lib/home/sec-2/index
	include ../lib/concept-page/c-2/index
	include ../lib/home/sec-2/index
