extends _layout/layout

block variables
	- var title = 'Home';
	- var description = 'Description for home page';
	- var bodyclass = 'home';

block body
	section.bannert-top
		.container
			.row
				.col-xs-12
					.banner-top__content
						.banner-top_img
							img.img-fluid(src="./img/banner-top.png", alt="")
						.banner-top__caption
							h2.banner-top__title.color-white.h1.mb-20
								| Curabitur a rutrum nulla,
								br
								| eget viverra ipsum
							p.banner-top__desc.color-white.h4.mb-20
								| Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum, incidunt.
							a.btn-singup.btn.btn-white(href="#") Đăng ký
	section.banner-ads.d-none.d-sm-block
		.container
			.row.banner-ads__content
				.col-md-8.mx-auto
					.banner-ads__img
						img.img-fluid(src="./img/ads-01.png", alt="")
				//- .col-md-6
				//- 	.banner-ads__img
				//- 		img.img-fluid(src="./img/ads-02.png", alt="")
	section.featured-concepts
		.container
			.row
				.col-sm-12.pd-0
					.featured-concepts__content.bg-white
						.featured-concepts__left
							.featured-concepts__caption
								h2.featured-concepts__title.f-bold
									| Concept 
									br.d-none.d-sm-block
									| nổi bật
								p.featured-concepts__desc
									| Nam blandit, nisl vitae scelerisque tincidunt, dolor orci faucibus nulla, quis fringilla diam magna sed elit. Praesent consectetur, leo a mollis fermentum, lectus sem facilisis neque.
								a.btn-featured.btn.btn-primary.f-bold.text-uppercase(href="#") Trở nên nổi bật
						.featured-concepts__right
							#sync2.owl-carousel.owl-theme
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid	
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid
								.sync2__nav
									img(src="./img/nav-01.png", alt="")
									.sync2__name
										span Dollie Reid
							#sync1.owl-carousel.owl-theme
								-var slider = 0;
								while slider < 8
									-slider++;
									.concept-item
										.concept-item__left
											.concept-item__thumbnail
												img(src="./img/slider-01.png", alt="")
										.concept-item__right
											.concept-item__info
												.concept-item__info-left
													.concept-item__avatar
														img(src="./img/nav-01.png", alt="")
													.concept-item__default.pl-10
														.concept-item__top.concept-item__top--active
															h3.concept-item__name.h4.pr-10 Sơn
															span.concept-item__age.h4 16t
														.concept-item__bottom.color-text-2
															a(href="#").small.concept-item__view.mr-20
																i.wd-icon.icon-view
																| 50k
															a(href="#").small.concept-item__view-like.mr-20
																i.wd-icon.icon-favorite
																| 7k
															a(href="#").small.concept-item__location.mr-20
																i.wd-icon.icon-map-pin
																| TP.HCM	
												.concept-item__connect
													a(href="#").concept-item__like
														i.wd-icon.fa.fa-heart-o
													a(href="#").concept-item__message
														i.wd-icon.icon-chat
											.concept__title.pt-20
												h3.f-bold Fusce id nulla id dui fringilla vestibulum ut sit amet velit
											.concept-item__content
												.concept__left
													ul.concept__info
														li.concept__time
															span.f-bold Thời gian : 
															span 18:00 - 05/06/2019
														li.concept__address
															span.f-bold Địa điểm :
															span 05 Kenna Points Suite 749
													ul.concept__info
														li.concept__age
															span.f-bold Đối Tượng : 
															span Nam tuổi từ 24 – 32
														li.concept__price
															span.f-bold Tổng chi phí : 
															span $ 342.23
														li.concept__ob-price
															span.f-bold Người tham gia trả : 
															span 50%
												.concept__right
													.concept__desc
														p Phasellus varius varius nisi ut posuere. Pellentesque congue, ipsum vestibulum tempor commodo, tortor lectus facilisis turpis, ac molestie purus ex ac sapien. Praesent tristique, est vitae elementum egestas, ex tortor porttitor ligula, at gravida orci sapien sit amet odio. Maecenas in metus turpis. Suspendisse pellentesque at dolor dictum facilisis. Donec…
											.concept__connect
												a(href="#").btn.btn-primary.text-uppercase.f-bold.h6 Xem chi tiết
												a(href="#").btn.btn-active.btn-primary.text-uppercase.f-bold.h6.mr-10 Tham gia 
												a(href="#").color-text-2 7k đăng ký
	section.banner-midde
		.container
			.row
				.banner-midde__content
					.banner-top_img
						img.img-fluid(src="./img/banner-midde-01.png", alt="")
					.banner-midde__caption
						h2.banner-midde__title.color-white
							| Cộng đồng với hơn 30.000 thành viên
	section.home-users
		.container-smaller
			.row
				.col-md-4
					include ../lib/slidebar-left/index
				.col-md-8
					.lists-user
						ul.nav.nav-tabs
							li
								a.active.show(data-toggle="tab" href="#friend-boy") Tìm bạn Trai
							li
								a(data-toggle="tab" href="#friend-girl") Tìm bạn Gái
						.tab-content
							#friend-boy.tab-pane.fade.in.active.show
								.lists-user-item
									- var n = 0;
									while n < 7
										-n++;
										.user-item
											.user-item__left
												.user-item__thumbnail
													img(src="./img/slider-01.png", alt="")
												.user-concept__connect
													a(href="#").btn.btn-primary.h6 Xem chi tiết
													a(href="#").btn.btn-primary.h6 Tham gia concept
													a(href="#").color-text-2 7k đăng ký 
											.user-item__right
												.user-item__info.pb-15
													.user-item__info-left
														.user-item__avatar
															img(src="./img/nav-01.png", alt="")
														.user-item__default.pl-10
															.user-item__top.user-item__top--active
																h3.user-item__name.h4.pr-10 Sơn
																span.user-item__age.h4 16t
															.user-item__bottom.color-text-2
																a(href="#").user-item__view.mr-20
																	i.wd-icon.icon-view
																	| 50k
																a(href="#").user-item__view-like.mr-20
																	i.wd-icon.icon-favorite
																	| 7k
																a(href="#").user-item__location.mr-20
																	i.wd-icon.icon-map-pin
																	| TP.HCM
													.user-item__connect
														a(href="#").user-item__like
															i.wd-icon.icon-normal
														a(href="#").user-item__message
															i.wd-icon.icon-chat
														a(href="#").user-item__message
															i.wd-icon.fa.fa-ellipsis-h
												.user-item__concept.pt-12
													.user-concept__left
														.user-concept__title
															h3.pb-12.mb-0 Lorem ipsum dolor sit amet.
														ul.user-concept__info
															li.user-concept__time
																span.f-bold
																	| Thời gian : 
																span 18:00 - 05/06/2019	
															li.user-concept__address
																span.f-bold
																	| Địa điểm : 4
																span 05 Kenna Points Suite 749
														ul.user-concept__info
															li.user-concept__age
																span.f-bold
																	| Đối Tượng : 
																span Nam tuổi từ 24 – 32	
															li.user-concept__price
																span.f-bold
																	| Tổng chi phí : 
																span $ 342.23	
															li.user-concept__ob-price
																span.f-bold
																	| Người tham gia trả : 
																span 50%
													.user-concept__right
														.user-concept__desc
															p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor. Morbi arcu tortor, euismod congue vulputate nec, luctus eu nisi. Donec gravida consectetur velit id auctor. Phasellus quis lacinia lorem, convallis ultrices ante…
														
									a.btn-list-all(href="#") Xem tất cả
							#friend-girl.tab-pane.fade
								.lists-user-item
									- var x = 0;
									while x < 7
										-x++;
										.user-item
											.user-item__left
												.user-item__thumbnail
													img(src="./img/slider-01.png", alt="")
											.user-item__right
												.user-item__info.pb-10
													.user-item__info-left
														.user-item__avatar
															img(src="./img/nav-01.png", alt="")
														.user-item__default.pl-10
															.user-item__top
																h3.user-item__name.h4.pr-10 Sơn
																span.user-item__age.h4 16t
															.user-item__bottom.color-text-2
																a(href="#").user-item__view.mr-20
																	i.wd-icon.icon-view
																	| 50k
																a(href="#").user-item__view-like.mr-20
																	i.wd-icon.icon-favorite
																	| 7k
																a(href="#").user-item__location.mr-20
																	i.wd-icon.icon-map-pin
																	| TP.HCM	
													.user-item__connect
														a(href="#").user-item__like.mr-20
															i.wd-icon.icon-normal
														a(href="#").user-item__message
															i.wd-icon.icon-chat
												.user-item__concept.pt-10
													.user-concept__left
														.user-concept__title
															h3.h4 Lorem ipsum dolor sit amet.
														ul.user-concept__info
															li
																span.user-concept__time
																	| Thời gian : 
																| 18:00 - 05/06/2019	
															li
																span.user-concept__address
																	| Địa điểm :
																| 05 Kenna Points Suite 749	
															li
																span.user-concept__age
																	| Đối Tượng : 
																| Nam tuổi từ 24 – 32	
															li
																span.user-concept__price
																	| Tổng chi phí : 
																| $ 342.23	
															li
																span.user-concept__ob-price
																	| Người tham gia trả : 
																| 50%		
													.user-concept__right
														.user-concept__desc
															p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis sunt, fuga mollitia ratione nemo ex enim eaque ullam esse architecto!
														.user-concept__connect
															a(href="#").btn.btn-primary.h6.mr-20 Xem chi tiết
															a(href="#").btn.btn-primary.h6.mr-20 Tham gia concept
															a(href="#").color-text-2 7k đăng ký 
									a.btn-list-all(href="#") Xem tất cả						
	section.banner-midde.d-none.d-sm-block
		.container
			.row
				.banner-midde__content
					.banner-top_img
						img.img-fluid(src="./img/banner-midde-02.png", alt="")
					.banner-midde__caption.caption-center
						h2.banner-midde__title.color-white
							| Khám phá các câu chuyện, bí kiếp yêu
	section.blog-home
		.container
			.row
				.col-md-6.pl-0
					.post-group
						.post-group__header
							h2 Bí kíp hẹn hò
							a.btn-bo-border Xem tất cả											
						.list-blog-item.row
							-var a = 0;
							while a < 4
								-a++;
								.col-lg-6.col-md-12.col-sm-6.mb-40
									.blog-item.card
										.card-thumbnails
											img.img-fluid(src="./img/blog-01.png" alt="Card image cap")
										.card-body
											h5.card-title.h4.f-bold Card title
											.card-middle.mb-15
												span.card-date.mr-30
													i.icon-clock.wd-icon
													| 01/04/2019
												span.card-view
													i.icon-view.wd-icon
													| 7k view	
											p.card-desc
												| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
				.col-md-6.pr-0
					.post-group
						.post-group__header
							h2 Bí kíp hẹn hò
							a.btn-bo-border Xem tất cả											
						.list-blog-item.row
							-var b = 0;
							while b < 4
								-b++;
								.col-lg-6.col-md-12.col-sm-6.mb-40
									.blog-item.card
										.card-thumbnails
											img.img-fluid(src="./img/blog-01.png" alt="Card image cap")
										.card-body
											h5.card-title.h4.f-bold Card title
											.card-middle.mb-15
												span.card-date.mr-30
													i.icon-clock.wd-icon
													| 01/04/2019
												span.card-view
													i.icon-view.wd-icon
													| 7k view	
											p.card-desc
												| This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
	section.banner-ads
		.container
			.row.banner-ads__content
				.col-md-8.mx-auto
					.banner-ads__img
						img.img-fluid(src="./img/ads-01.png", alt="")
				//- .col-md-6
				//- 	.banner-ads__img
				//- 		img.img-fluid(src="./img/ads-02.png", alt="")
		
