extends _layout/layout

block variables
	- var title = 'Home';
	- var description = 'Description for home page';
	- var bodyclass = 'home';

block body
	include ../lib/home/sec-1/index
	include ../lib/home/sec-2/index
	
	section.featured-concepts
		.container
			.row
				.col-sm-12.pd-0
					.featured-concepts__content.bg-white
						.featured-concepts__left
							.featured-concepts__caption
								h2.featured-concepts__title.f-bold
									| Concept 
									br.d-none.d-sm-block
									| nổi bật
								p.featured-concepts__desc
									| Nam blandit, nisl vitae scelerisque tincidunt, dolor orci faucibus nulla, quis fringilla diam magna sed elit. Praesent consectetur, leo a mollis fermentum, lectus sem facilisis neque.
								a.btn-featured.btn.btn-primary.f-bold.text-uppercase(href="#") Trở nên nổi bật
						.featured-concepts__right
							#sync2.owl-carousel.owl-theme
								-var sliderNav = 0;
								while sliderNav < 8
									-sliderNav++;
									.sync2__nav
										img(src="./img/nav-01.png", alt="")
										.sync2__name
											span Dollie Reid
							#sync1.owl-carousel.owl-theme
								-var slider = 0;
								while slider < 8
									-slider++;
									include ../lib/concept-item/index
	include ../lib/banner-middle/index
	section.home-users
		.container-smaller.container
			.row
				.col-md-4
					include ../lib/slidebar-left/index
				.col-md-8
					.lists-user
						ul.nav.nav-tabs
							li
								a.active.show(data-toggle="tab" href="#friend-boy") Tìm bạn Trai
							li
								a(data-toggle="tab" href="#friend-girl") Tìm bạn Gái
						.tab-content
							#friend-boy.tab-pane.fade.in.active.show
								.lists-user-item
									- var n = 0;
									while n < 7
										-n++;
											include ../lib/user-item/index
									a.btn-list-all(href="#") Xem tất cả
							#friend-girl.tab-pane.fade
								.lists-user-item
									- var x = 0;
									while x < 7
										-x++;
										include ../lib/user-item/index
									a.btn-list-all(href="#") Xem tất cả
	include ../lib/banner-middle/index
	section.blog-home
		.container
			.row
				.col-md-6.pl-0
					.post-group
						.post-group__header
							h2 Bí kíp hẹn hò
							a.btn-bo-border Xem tất cả	
						.list-blog-item.row
							-var a = 0;
							while a < 4
								-a++;
								.col-lg-6.col-md-12.col-sm-6
									include ../lib/blog-item/index
				.col-md-6.pr-0
					.post-group
						.post-group__header
							h2 Bí kíp hẹn hò
							a.btn-bo-border Xem tất cả
						.list-blog-item.row
							-var b = 0;
							while b < 4
								-b++;
								.col-lg-6.col-md-12.col-sm-6
									include ../lib/blog-item/index
	include ../lib/home/sec-2/index
		
