extends _layout/layout

block variables
	- var title = 'Login';
	- var description = 'Description for Login page';
	- var bodyclass = 'wao-login';

block body
	include ../lib/form/sign-in/index
	include ../lib/home/sec-2/index
