extends _layout/layout-user

block variables
	- var title = 'Notification';
	- var description = 'Description for notification page';
	- var bodyclass = 'notification';

block body
	include ../lib/notification/index
