extends _layout/layout

block variables
	- var title = 'People';
	- var description = 'Description for People page';
	- var bodyclass = 'people';

block body
	include ../lib/concept-page/c-1/index
	include ../lib/home/sec-2/index
	include ../lib/people-page/index
	include ../lib/home/sec-2/index
