extends _layout/layout

block variables
	- var title = 'Profile-gallery';
	- var description = 'Description for Profile-gallery page';
	- var bodyclass = 'profile-gallery';

block body
	include ../lib/profile-page/profile-banner/index
	include ../lib/profile-page/profile-top/index
	include ../lib/profile-page/profile-nav/index
	section.profile-gallery
		.container-smaller.container
			.row
				.col-lg-8
					include ../lib/profile-page/profile-gallery/index
				.col-lg-4
					include ../lib/slidebar-left/no-fb
			.row
				.col-12
					include ../lib/pagination/index
	include ../lib/home/sec-2/index
	include ../lib/profile-page/profile-footer/index
	include ../lib/home/sec-2/index
