extends _layout/layout

block variables
	- var title = 'New-Password';
	- var description = 'Description for wao-newpassword page';
	- var bodyclass = 'wao-newpassword';

block body
	include ../lib/form/reset-password/index
	include ../lib/home/sec-2/index
