extends _layout/layout-user

block variables
	- var title = 'user-concept-create';
	- var description = 'Description for user-concept-create page';
	- var bodyclass = 'user-concept-create';

block body
	include ../lib/form/user-create/index
