.chat-users.br-8
	.chat-users__container
		.wao-user.wao-user--seen.wao-user--online.wao-user--active
			.wao-user__title
				img(src="./img/nav-01.png", alt="")
				h4
					a(href="#") Dollie Reid
					span 26
			.wao-user__message-short
				p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra euismod turpis molestie varius. Nunc quis mollis ex, a pellentesque urna. Aenean lacinia dui at urna tempus.
		.wao-user.wao-user--online
			.wao-user__title
				img(src="./img/nav-01.png", alt="")
				h4
					a(href="#") Stephanie Bailey
					span 26
			.wao-user__message-short
				p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra euismod turpis molestie varius. Nunc quis mollis ex, a pellentesque urna. Aenean lacinia dui at urna tempus.
		.wao-user.wao-user--online
			.wao-user__title
				img(src="./img/nav-01.png", alt="")
				h4
					a(href="#") Leslee Moss
					span 26
			.wao-user__message-short
				p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra euismod turpis molestie varius. Nunc quis mollis ex, a pellentesque urna. Aenean lacinia dui at urna tempus.
		.wao-user.wao-user--seen.wao-user--online
			.wao-user__title
				img(src="./img/nav-01.png", alt="")
				h4
					a(href="#") Jesus Bañuelos
					span 26
			.wao-user__message-short
				p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra euismod turpis molestie varius. Nunc quis mollis ex, a pellentesque urna. Aenean lacinia dui at urna tempus.
		.wao-user.wao-user--seen.wao-user--online
			.wao-user__title
				img(src="./img/nav-01.png", alt="")
				h4
					a(href="#") Valdemar Forsberg
					span 26
			.wao-user__message-short
				p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum pharetra euismod turpis molestie varius. Nunc quis mollis ex, a pellentesque urna. Aenean lacinia dui at urna tempus.
