section.wao-newpassword-main
	.container.container-smaller
		.row
			.col-md-8
				form.wao-form(action="")
					.wao-form__row.wao-form__header.br-8
						h3 Đặt Lại Mật Khẩu
					.wao-form__row.wao-form__body.br-8
						.wao-form__body-container
							.row
								.col-12.form-group
									label Mật Khẩu Mới
									input.form-control(type="password", name="")
								.col-12.form-group
									label Nhập Lại Mật Khẩu
									input.form-control(type="password", name="")
					.wao-form__footer.wao-form__btnGroup
						.row
							.col-md-6
								button.wao-form__btn.wao-form__btn--ouline.br-8(type="submit") Hủy
							.col-md-6
								button.wao-form__btn.wao-form__btn--danger.wao-form__btn--disable.br-8(type="submit") Đăng nhập
			.col-md-4
				include ../../slidebar-left/no-fb
