nav.wao-menu
	ul
		li.wao-menu__item
			a.wao-menu__link.wao-menu__link--active(href="/") Trang chủ
		li.wao-menu__item
			a.wao-menu__link(href="/concept.html") Concept
		li.wao-menu__item
			a.wao-menu__link(href="#") Bạn nam
		li.wao-menu__item
			a.wao-menu__link(href="#") bạn nữ
		li.wao-menu__item
			a.wao-menu__link(href="/blog.html") Blog
		li.wao-menu__item
			a.wao-menu__link(href="#") Liên hệ
		li.wao-menu__item
			a.wao-menu__link(href="#") Về chúng tôi
