nav.wao-menu
	.wao-topbar__logo--scroll
		img(src="./img/logo.png", alt="")
	ul
		li.wao-menu__item
			a.wao-menu__link.wao-menu__link--active(href="/") Trang chủ
		li.wao-menu__item
			a.wao-menu__link(href="/concept.html") Concept
		li.wao-menu__item
			a.wao-menu__link(href="/people.html") Bạn nam
		li.wao-menu__item
			a.wao-menu__link(href="/people.html") bạn nữ
		li.wao-menu__item
			a.wao-menu__link(href="/blog.html") Blog
		li.wao-menu__item
			a.wao-menu__link(href="#") Liên hệ
		li.wao-menu__item
			a.wao-menu__link(href="#") Về chúng tôi
