.wao-topbar
	.wao-topbar__left
		.wao-topbar__toggle
			i.fa.fa-bars
		.wao-topbar__search
			input(type="text", name="" placeholder="Tìm theo tên, chủ đề hoặc concept...")
			button(type="button" class="wao-topbar__search-btn")
				i.icon-search
	.wao-topbar__logo
		a(href="/")
			img(src="./img/logo.png", alt="WaoDate", srcset="")
	.wao-topbar__right
		.wao-topbar__social
			a(href="#")
				i.fa.fa-facebook
			a(href="#")
				i.fa.fa-youtube-play
		.wao-topbar__btn
			a.wao-topbar__btn-register(href="javascript: void(0)") Đăng ký
			a.wao-topbar__btn-login(href="#")
				| Đăng nhập
