section.wao-price
	.container.container-custom
		h1 Dịch Vụ WaoDate Premium
		.row
			.col-md-4.wao-price__item.wao-price__item--basic
				.wao-price__item-inner.br-8
					.wao-price__header
						.wao-price__plan 1 tháng
						.wao-price__point
							.wao-price__point--new 1000
							span point
					.wao-price__body
						p Quisque consectetur lorem ac mi semper lacinia.
						p Vivamus neque velit, fermentum sit amet venenatis sed, ullamcorper sit amet tortor.
						p Proin tempus orci a nunc consectetur, at feugiat dolor sodales.
						p Donec tempor convallis ligula, quis fermentum lacus venenatis.
						p Praesent eget nisl elementum, finibus elit vestibulum, consectetur massa.
						.wao-price__submit
							a(href="") Nâng cấp
			.col-md-4.wao-price__item.wao-price__item--standard
				.wao-price__item-inner.br-8
					.wao-price__header
						.wao-price__plan 6 tháng
						.wao-price__point
							.wao-price__point--new 5000
							.wao-price__point--old 6000
							span point
					.wao-price__body
						p Quisque consectetur lorem ac mi semper lacinia.
						p Vivamus neque velit, fermentum sit amet venenatis sed, ullamcorper sit amet tortor.
						p Proin tempus orci a nunc consectetur, at feugiat dolor sodales.
						p Donec tempor convallis ligula, quis fermentum lacus venenatis.
						p Praesent eget nisl elementum, finibus elit vestibulum, consectetur massa.
						.wao-price__submit
							a(href="") Nâng cấp
			.col-md-4.wao-price__item.wao-price__item--vip
				.wao-price__item-inner.br-8
					.wao-price__header
						.wao-price__plan 1 năm
						.wao-price__point
							.wao-price__point--new 8000
							.wao-price__point--old 12.000
							span point
					.wao-price__body
						p Quisque consectetur lorem ac mi semper lacinia.
						p Vivamus neque velit, fermentum sit amet venenatis sed, ullamcorper sit amet tortor.
						p Proin tempus orci a nunc consectetur, at feugiat dolor sodales.
						p Donec tempor convallis ligula, quis fermentum lacus venenatis.
						p Praesent eget nisl elementum, finibus elit vestibulum, consectetur massa.
						.wao-price__submit
							a(href="") Nâng cấp

