section.notification-main
	.container
		.row
			.col-md-4
				include ./notification-nav/index
				include ../slidebar-left/no-fb
			.col-md-8
				include ./notification-content/index
				include ../pagination/index
