section.banner-ads.d-none.d-sm-block
	.container
		.row.banner-ads__content
			.col-md-8.mx-auto
				.banner-ads__img
					img.img-fluid(src="./img/ads-01.png", alt="")
			//- .col-md-6
			//- 	.banner-ads__img
			//- 		img.img-fluid(src="./img/ads-02.png", alt="")
