.profile-nav.container-smaller.container
	.row
		.col-12
			nav.br-8
				.profile-nav__toggle
					i.fa.fa-bars
					| Danh mục
				ul.profile-nav__list
					li.profile-nav__item
						a.profile-nav__link.profile-nav__link--active(href="/profile-concept.html") Chủ đề hẹn hò
					li.profile-nav__item
						a.profile-nav__link(href="/profile-gallery.html") Hình ảnh
					li.profile-nav__item
						a.profile-nav__link(href="/profile-detail.html") Thông tin cá nhân
