section.profile-top.profile-top--user.pb-24
	.container-smaller.container
		.row
			.col-lg-4
				.profile-top__avatar.br-8
					img(src="./img/profile-avatar.jpg", alt="")
					a.wao-profile-edit(href="")
						i.icon-edit
						| Tải ảnh cover
			.col-lg-8
				.profile-top__info.profile-top__info--active.br-8
					.profile-top__info-left
						h3.profile-top__info-name
							| Isabel Webb
							span 22
						.profile-top__info-view
							a(href="#").user-item__location
								i.wd-icon.icon-map-pin
								| TP. Hồ Chí Minh
					.profile-top__info-right
						a(href="#").user-item__like
							i.wd-icon.icon-normal
						a(href="#").user-item__message
							i.wd-icon.icon-chat
						a(href="#").user-item__message
							i.wd-icon.fa.fa-ellipsis-h
