section.profile__banner.container.pb-24
	.profile__banner__container.banner-has-back-btn.row
		.profile__banner__btn-back.back-btn
			a(href="#")
				img(src="./img/back.svg", alt="")
		.profile__banner__image.gradient-black.br-8
			img(src="./img/banner-blog.jpg", alt="")
