/*
    Project: base_html
    Version: 1.6.2
    Developed by: diaryforlife
    Website: http://thanhtrungdev.tk
*/

/*
    TABLE OF CONTENT
        1. RESET AND TYPHOGRAPHY
        2. ELEMENTS
        3. COMPONENTS
        4. MODULES
        5. HELPERS
        6. CUSTOM

*/


@import "vendor/bourbon/bourbon";
@import "utils/mixin";
@import "vendor/masonry_grid";
@import "vendor/media_query";

@import "utils/variable";
@import "utils/breakpoint";

/*1. RESET AND TYPHOGRAPHY */
@import "base/reset";
@import "base/typhography";

/*2. ELEMENTS */
@import "elements/grid";
@import "elements/banner";
@import "elements/list";
@import "elements/button";
@import "elements/form";
@import "elements/post";
@import "elements/pagination";
@import "elements/breadcrumb";
@import "elements/block";
@import "elements/loader";

/*3. COMPONENTS */
@import "components/forms";
@import "components/section";
@import "components/search";

/*4. MODULES */
@import "modules/top-bar";
@import "modules/main-menu";
@import "modules/header";
@import "modules/footer";

/*5. HELPERS */
@import "elements/helpers";
/*6. CUSTOM*/

// inject:imports
@import "../lib/banner-ad/index.scss";
@import "../lib/banner-middle/index.scss";
@import "../lib/blog-banner/index.scss";
@import "../lib/blog-read/index.scss";
@import "../lib/blog-others/index.scss";
@import "../lib/blog-item/index.scss";
@import "../lib/blog-tag/index.scss";
@import "../lib/concept-filter/index.scss";
@import "../lib/concept-item/index.scss";
@import "../lib/home-form-member/index.scss";
@import "../lib/pagination/index.scss";
@import "../lib/slidebar-left/index.scss";
@import "../lib/user-item/index.scss";
@import "../lib/concept-page/c-1/index.scss";
@import "../lib/concept-page/c-2/index.scss";
@import "../lib/home/sec-1/index.scss";
@import "../lib/home/sec-2/index.scss";
// endinject
