/*
    Project: base_html
    Version: 1.6.2
    Developed by: diaryforlife
    Website: http://thanhtrungdev.tk
*/

/*
    TABLE OF CONTENT
        1. RESET AND TYPHOGRAPHY
        2. ELEMENTS
        3. COMPONENTS
        4. MODULES
        5. HELPERS
        6. CUSTOM

*/


@import "vendor/bourbon/bourbon";
@import "utils/mixin";
@import "vendor/masonry_grid";
@import "vendor/media_query";

@import "utils/variable";
@import "utils/breakpoint";

/*1. RESET AND TYPHOGRAPHY */
@import "base/reset";
@import "base/typhography";

/*2. ELEMENTS */
@import "elements/grid";
@import "elements/banner";
@import "elements/list";
@import "elements/button";
@import "elements/form";
@import "elements/post";
@import "elements/pagination";
@import "elements/breadcrumb";
@import "elements/block";
@import "elements/loader";

/*3. COMPONENTS */
@import "components/forms";
@import "components/section";
@import "components/search";

/*4. MODULES */
@import "modules/top-bar";
@import "modules/main-menu";
@import "modules/header";
@import "modules/footer";

/*5. HELPERS */
@import "elements/helpers";
/*6. CUSTOM*/

// inject:imports
@import "../lib/banner-ad/index.scss";
@import "../lib/blog-banner/index.scss";
@import "../lib/banner-middle/index.scss";
@import "../lib/blog-others/index.scss";
@import "../lib/blog-page/index.scss";
@import "../lib/blog-item/index.scss";
@import "../lib/blog-tag/index.scss";
@import "../lib/blog-read/index.scss";
@import "../lib/chat-page/index.scss";
@import "../lib/concept-filter/index.scss";
@import "../lib/concept-item/index.scss";
@import "../lib/filter/index.scss";
@import "../lib/form/index.scss";
@import "../lib/notification/index.scss";
@import "../lib/pagination/index.scss";
@import "../lib/people-page/index.scss";
@import "../lib/price/index.scss";
@import "../lib/popup/index.scss";
@import "../lib/search-page/index.scss";
@import "../lib/profile-page/index.scss";
@import "../lib/slidebar-left/index.scss";
@import "../lib/user-item/index.scss";
@import "../lib/blog-page/blog-filter/index.scss";
@import "../lib/blog-page/blog-item/index.scss";
@import "../lib/chat-page/chat-search/index.scss";
@import "../lib/chat-page/chat-content/index.scss";
@import "../lib/chat-page/chat-users/index.scss";
@import "../lib/concept-page/c-1/index.scss";
@import "../lib/concept-page/c-2/index.scss";
@import "../lib/form/new-password/index.scss";
@import "../lib/form/reset-password/index.scss";
@import "../lib/form/sign-in/index.scss";
@import "../lib/form/user-create/index.scss";
@import "../lib/form/sign-up/index.scss";
@import "../lib/form/users/index.scss";
@import "../lib/notification/notification-content/index.scss";
@import "../lib/home/sec-1/index.scss";
@import "../lib/notification/notification-nav/index.scss";
@import "../lib/home/sec-2/index.scss";
@import "../lib/people-page/people-filter/index.scss";
@import "../lib/people-page/people-user/index.scss";
@import "../lib/popup/popup-onload/index.scss";
@import "../lib/popup/sign-up-popup/index.scss";
@import "../lib/search-page/bai-viet/index.scss";
@import "../lib/search-page/chu-de-hen-ho/index.scss";
@import "../lib/search-page/nguoi-dung/index.scss";
@import "../lib/search-page/search-filter/index.scss";
@import "../lib/search-page/search-nav/index.scss";
@import "../lib/profile-page/profile-another/index.scss";
@import "../lib/profile-page/profile-avatar/index.scss";
@import "../lib/profile-page/profile-article/index.scss";
@import "../lib/profile-page/profile-banner/index.scss";
@import "../lib/profile-page/profile-concept-register/index.scss";
@import "../lib/profile-page/profile-concept-search/index.scss";
@import "../lib/profile-page/profile-filter/index.scss";
@import "../lib/profile-page/profile-detail/index.scss";
@import "../lib/profile-page/profile-gallery/index.scss";
@import "../lib/profile-page/profile-footer/index.scss";
@import "../lib/profile-page/profile-like/index.scss";
@import "../lib/profile-page/profile-info_des/index.scss";
@import "../lib/profile-page/profile-online/index.scss";
@import "../lib/profile-page/profile-nav/index.scss";
@import "../lib/profile-page/profile-user-concept-article/index.scss";
@import "../lib/profile-page/profile-top/index.scss";
// endinject
