section.blog-banner.container.pb-24
	.blog-banner__container.banner-has-back-btn.row
		.blog-banner__btn-back.back-btn
			a(href="#")
				img(src="./img/back.svg", alt="")
		.blog-banner__image.gradient-black.br-8
			img(src="./img/banner-blog.jpg", alt="")
		.blog-banner__content
			h1
				| Fusce id nulla id dui fringilla
				br 
				| vestibulum ut sit amet velit
			.blog-banner__desc
				span
					i.fa.fa-clock-o
					| 01/04/2019
				span
					i.fa.fa-eye
					| 26k

