section.banner-top
	.container
		.row
			.banner-top__img
				img(src="./img/banner-top.png", alt="", srcset="")
			a(href="#").banner-top__content
				h1
					| Curabitur a rutrum nulla, 
					br 
					| eget viverra ipsum
				p
					| Nam blandit, nisl vitae scelerisque tincidunt, dolor orci faucibus nulla, quis fringilla diam magna 
					br 
					| sed elit. Praesent consectetur, leo a mollis fermentum, lectus sem facilisis neque.
				.banner-top__btn Đăng ký
