.user-item
	.user-item__left
		.user-item__thumbnail
			img(src="./img/slider-01.png", alt="")
		.user-concept__connect
			a(href="/profile.html").btn.btn-primary.h6 Xem chi tiết
			a(href="#").btn.btn-primary.h6 Tham gia concept
			a(href="#").color-text-2 7k đăng ký 
	.user-item__right
		.user-item__info.pb-15
			.user-item__info-left
				.user-item__avatar
					img(src="./img/nav-01.png", alt="")
				.user-item__default.pl-10
					.user-item__top.user-item__top--active
						.user-item__top-info
							h3.user-item__name.pr-10 Sơn
							span.user-item__age 16t
						.user-item__connect
							a(href="#").user-item__like
								i.wd-icon.icon-normal
							a(href="#").user-item__message
								i.wd-icon.icon-chat
							a(href="#").user-item__message
								i.wd-icon.fa.fa-ellipsis-h
					.user-item__bottom.color-text-2
						a(href="#").user-item__view.mr-20
							i.wd-icon.icon-view
							| 50k
						a(href="#").user-item__view-like.mr-20
							i.wd-icon.icon-favorite
							| 7k
						a(href="#").user-item__location.mr-20
							i.wd-icon.icon-map-pin
							| TP.HCM
			
		.user-item__concept.pt-12
			.user-concept__left
				.user-concept__title
					h3.pb-12.mb-0 Lorem ipsum dolor sit amet.
				ul.user-concept__info
					li.user-concept__time
						span.f-bold
							| Thời gian : 
						span 18:00 - 05/06/2019	
					li.user-concept__address
						span.f-bold
							| Địa điểm : 4
						span 05 Kenna Points Suite 749
				ul.user-concept__info
					li.user-concept__age
						span.f-bold
							| Đối Tượng : 
						span Nam tuổi từ 24 – 32	
					li.user-concept__price
						span.f-bold
							| Tổng chi phí : 
						span $ 342.23	
					li.user-concept__ob-price
						span.f-bold
							| Người tham gia trả : 
						span 50%
			.user-concept__right
				.user-concept__desc
					p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor. Morbi arcu tortor, euismod congue vulputate nec, luctus eu nisi. Donec gravida consectetur velit id auctor. Phasellus quis lacinia lorem, convallis ultrices ante…
