.notification-content.br-8
	.notification-content__header
		h3 Thông báo
	.notification-content__body
		.notification-content__item.notification-content__item--notSeen
			a(href="#")
				img(src="./img/nav-01.png", alt="")
				.notification-content__title
					h4
						| Stephanie Bailey
						span 26
					p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes.
		.notification-content__item
			a(href="#")
				img(src="./img/nav-01.png", alt="")
				.notification-content__title
					h4
						| Stephanie Bailey
						span 26
					p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes.
		.notification-content__item
			a(href="#")
				img(src="./img/nav-01.png", alt="")
				.notification-content__title
					h4
						| Stephanie Bailey
						span 26
					p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes.
		.notification-content__item
			a(href="#")
				img(src="./img/nav-01.png", alt="")
				.notification-content__title
					h4
						| Stephanie Bailey
						span 26
					p Aenean tincidunt scelerisque volutpat. Aliquam dignissim auctor volutpat. Phasellus vel laoreet nunc. Orci varius natoque penatibus et magnis dis parturient montes.
