section.profile-footer
	.container
		.row
			.col-lg-4.pl-lg-0
				.profile-footer__title
					h3 Người dùng đang online
				include ../../profile-page/profile-online/index
			.col-lg-8.pr-lg-0
				.profile-footer__title
					h3 Có Thể Bạn Quan Tâm
					a(href="#", title="title") Xem tất cả
				include ../../profile-page/profile-another/index
