.blog-read__tag.br-8
	h3 Tags
	.blog-read__tag-list
		a(href="#") Sed viverra
		a(href="#") Tincidunt euismod
		a(href="#") Sed viverra
		a(href="#") Lectus tincidunt
		a(href="#") Lectus tincidunt
		a(href="#") Lectus tincidunt
		a(href="#") Sed viverra
		a(href="#") Lectus tincidunt
		a(href="#") Sed viverra
