section.search-nav
	.container.br-8
		.row
			.col-12.search-nav__banner
				h2 Dollie Reid
			nav.search-nav__menu.col-12
				.search-nav__toggle
					i.fa.fa-bars
					|  Danh mục
				ul
					li.search-nav__item
						a.search-nav__link.search-nav__link--active(href="#") Tất cả
					li.search-nav__item
						a.search-nav__link(href="#") Chủ Đề Hẹn Hò
					li.search-nav__item
						a.search-nav__link(href="#") Người Dùng
					li.search-nav__item
						a.search-nav__link(href="#") Bài Viết
