.wao-popup__wrapper.wao-popup--open.updateAccount-popup#updateAccount
	.wao-popup__backdrop.wao-popup__backdrop--closable
	.wao-popup__content
		.wao-popup__container.br-8
			h3 Aliquam Ultrices Nec Orci Quis Imperdiet
			p Donec non ante arcu. Suspendisse in blandit elit. Sed vel imperdiet sapien, eget interdum dolor. Fusce nec arcu egestas, scelerisque sem et, dapibus leo. Praesent venenatis dapibus consectetur. Vestibulum neque sapien, laoreet non quam eu, tristique commodo nisi. Aenean tempor dolor quis turpis lacinia scelerisque. Nunc vel mauris erat. Suspendisse potenti. Mauris pharetra mattis felis sed sodales.
			.wao-popup__btnGroup.row
				.col-6
					button(type="button" data-popup="updateAccount").wao-popup__btn.wao-popup__btn-refuse.br-8
						| Hủy
				.col-6
					a(href="").wao-popup__btn.wao-popup__btn-update.br-8
						| Nâng cấp
