.profile-article.br-8
	.profile-article__header
		h3 Chủ Đề Hẹn Hò
	.profile-article__body
		- for(x = 1; x < 6; x++)
			.profile-article__item
				.profile-article__left
					h4 Fusce Id Nulla Id Dui Fringilla Vestibulum Ut Sit Amet Velit
					ul.profile-article__detail
						li
							span Thời gian:
							| 18:00 – 15/06/2019
						li
							span Địa điểm:
							| 405 Kenna Points Suite 749
						li
							span Đối tượng:
							| Nam tuổi từ 24 – 32
						li
							span Tổng chi phí:
							| $ 342.23
						li
							span Người tham gia trả:
							| 50%
					small 7k người đăng ký
					.profile-article__btn
						a(href="") Tham Gia Concept
				.profile-article__right
					.profile-article__img
						a(href="https://www.youtube.com/watch?v=GxQQbFfEU2c", title="title" data-fancybox="")
							img(src="./img/article-image.png", alt="")
					p Ut vitae turpis a nisi facilisis placerat. Nullam consequat ipsum non odio ullamcorper lacinia vel ut nisl. Vivamus vitae odio aliquam, volutpat erat id, ultricies lectus. Integer lobortis sem nunc, eu elementum est sollicitudin non. Duis venenatis sollicitudin facilisis. Nullam lacinia velit et magna lobortis feugiat vitae nec turpis. Pellentesque semper justo id dictum aliquam. Praesent nibh ipsum, condimentum vel varius et, tristique eu erat. Duis sed ornare metus, id laoreet massa. Nullam ac nisi vel tellus consequat laoreet. Cras fringilla egestas elit. Donec velit neque, viverra ac consequat ac, gravida nec libero. Duis euismod congue augue, vitae aliquet sem facilisis sed.
