section.wao-resetpassword-main
	.container.container-smaller
		.row
			.col-md-8
				form.wao-form(action="")
					.wao-form__row.wao-form__header.br-8
						h3 Quên Mật Khẩu
					.wao-form__row.wao-form__body.br-8
						.wao-form__body-container
							.row
								.col-12.form-group
									label Nhập email khôi phục mật khẩu
									input.form-control(type="email", name="")
					.wao-form__btnGroup
						.row
							.col-md-6
								button.wao-form__btn.wao-form__btn--ouline.br-8(type="submit") Quay lại đăng nhập
							.col-md-6
								button.wao-form__btn.wao-form__btn--danger.wao-form__btn--disable.br-8(type="submit") Gửi
			.col-md-4
				include ../../slidebar-left/no-fb

