article.article-item
	.article-item__left
		img(src="./img/article.jpg", alt="")
	.article-item__right
		h3 Fusce id nulla id dui fringilla vestibulum ut sit amet velit congue vulputate
		.article-item__info
			span
				i.fa.fa-clock-o
				| 20:00 – 12/05/2019
			span
				i.wd-icon.icon-view
				| 50k
			span
				i.wd-icon.icon-favorite
				| 7k
		p Donec quis felis quis dui rutrum euismod. Morbi aliquet tincidunt vulputate. Nam semper ipsum nec sem efficitur auctor. Morbi arcu tortor, euismod congue vulputate nec, luctus eu nisi…
		.article-item__btn
			a(href="#")
				i.wd-icon.icon-normal
				| Thích
			a.article-item__btn-more(href="#")
				| Xem chi tiết
