.concept-item
	.concept-item__left
		.concept-item__thumbnail
			img(src="./img/slider-01.png", alt="")
	.concept-item__right
		.concept-item__info
			.concept-item__info-left
				.concept-item__avatar
					img(src="./img/nav-01.png", alt="")
				.concept-item__default.pl-10
					.concept-item__top.concept-item__top--active
						h3.concept-item__name.h4.pr-10 Sơn
						span.concept-item__age.h4 16t
					.concept-item__bottom.color-text-2
						a(href="#").small.concept-item__view.mr-20
							i.wd-icon.icon-view
							| 50k
						a(href="#").small.concept-item__view-like.mr-20
							i.wd-icon.icon-favorite
							| 7k
						a(href="#").small.concept-item__location.mr-20
							i.wd-icon.icon-map-pin
							| TP.HCM	
			.concept-item__connect
				a(href="#").concept-item__like
					i.wd-icon.fa.fa-heart-o
				a(href="#").concept-item__message
					i.wd-icon.icon-chat
		.concept__title.pt-20
			h3.f-bold Fusce id nulla id dui fringilla vestibulum ut sit amet velit
		.concept-item__content
			.concept__left
				ul.concept__info
					li.concept__time
						span.f-bold Thời gian : 
						span 18:00 - 05/06/2019
					li.concept__address
						span.f-bold Địa điểm :
						span 05 Kenna Points Suite 749
				ul.concept__info
					li.concept__age
						span.f-bold Đối Tượng : 
						span Nam tuổi từ 24 – 32
					li.concept__price
						span.f-bold Tổng chi phí : 
						span $ 342.23
					li.concept__ob-price
						span.f-bold Người tham gia trả : 
						span 50%
			.concept__right
				.concept__desc
					p Phasellus varius varius nisi ut posuere. Pellentesque congue, ipsum vestibulum tempor commodo, tortor lectus facilisis turpis, ac molestie purus ex ac sapien. Praesent tristique, est vitae elementum egestas, ex tortor porttitor ligula, at gravida orci sapien sit amet odio. Maecenas in metus turpis. Suspendisse pellentesque at dolor dictum facilisis. Donec…
		.concept__connect
			a(href="#").btn.btn-primary.text-uppercase.f-bold.h6 Xem chi tiết
			a(href="#").btn.btn-active.btn-primary.text-uppercase.f-bold.h6.mr-10 Tham gia 
			a(href="#").color-text-2 7k đăng ký
