section.banner-ads
	.container
		.row.banner-ads__content
			.col-md-8.mx-auto
				img(src="./img/ads-02.png ", alt="banner")
			//- .col-md-6
			//- 	.banner-ads__img
			//- 		img.img-fluid(src="./img/ads-02.png", alt="")
