.user-concept__search.container.container-smaller
	.row
		.col-lg-8
			.user-concept__input.br-8
				input(type="text" placeholder="Tìm kiếm chủ đề...")
				button(type="submit")
					i.icon-search
		.col-lg-4
			button(type="submit").user-concept__createBtn.br-8
				i.icon-plus
				| Tạo chủ đề hẹn hò
