aside.sidebar-filter
	.block-search
		form.form-search(action="")
			input.ip-search(type="text" placeholder="Tìm kiếm")
			button.btn-search
				i.fa.fa-search
	.block-filter
		form.form-fillter(action="")
			.form-groups
				label Hình Thức Chi Trả
				.form-select
					select.form-control
						option Hai bên cùng trả
			.form-groups
				label Chi Phí Buổi Hẹn
				.select-groups-2
					.form-select
						select.form-control
							option $ 200
					.form-select
						select.form-control
							option $ 400
			.form-groups
				label Giới Tính Người Tổ Chức
				.form-select
					select.form-control
						option Nam
						option Nữ
						option Gay
						option Les
			.form-groups
				label Độ Tuổi người tạo
				.select-groups-2
					.form-select
						select.form-control
							option 10
					.form-select
						select.form-control
							option 100
			.form-groups
				label Nơi Ở người tạo
				.form-select
					select.form-control
						option Quốc gia
				.form-select
					select.form-control
						option Tỉnh/Thành phố
			.form-submit
				button.btn-submit.mr-20(type="submit") Áp dụng
				a.btn-search-advanced Tìm kiếm nâng cao
