.sidebar-left.d-none.d-sm-block
	aside.widget.sidebar-banner-ads
		.fb-page(data-href='https://www.facebook.com/facebook', data-tabs='', data-width='', data-height='', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
			blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/facebook')
				a(href='https://www.facebook.com/facebook') Facebook
	aside.widget.sidebar-banner-ads
		.sidebar-banner-ads__img
			img.img-fluid(src="./img/sidebar-ads-01.png", alt="")
	aside.widget.sidebar-banner-ads
		.sidebar-banner-ads__img
			img.img-fluid(src="./img/sidebar-ads-02.png", alt="")
	aside.widget.sidebar-banner-ads
		.sidebar-banner-ads__img
			img.img-fluid(src="./img/sidebar-ads-02.png", alt="")
