.sidebar-left.d-none.d-sm-block
	aside.widget.sidebar-banner-ads
		.sidebar-banner-ads__img
			img.img-fluid(src="./img/sidebar-ads-01.png", alt="")
	aside.widget.sidebar-banner-ads
		.sidebar-banner-ads__img
			img.img-fluid(src="./img/sidebar-ads-02.png", alt="")
