.notification-nav.br-8
	ul.notification-nav__list
		li.notification-nav__item
			a.notification-nav__link.notification-nav__link--active(href="") Tất cả
		li.notification-nav__item
			a.notification-nav__link(href="") Đã yêu thích concept của bạn
		li.notification-nav__item
			a.notification-nav__link(href="") Đã yêu thích bạn
		li.notification-nav__item
			a.notification-nav__link(href="") Yêu cầu tham gia concept của bạn
		li.notification-nav__item
			a.notification-nav__link(href="") xác nhận tham gia concept của bạn
		li.notification-nav__item
			a.notification-nav__link(href="") Khác
