aside.sidebar-filter
	.block-search
		form.form-search(action="")
			input.ip-search(type="text" placeholder="Tìm kiếm")
			button.btn-search
				i.fa.fa-search
	.block-filter
		form.form-fillter(action="")
			.form-groups
				label Sắp xếp theo
				.form-select
					select.form-control
						option Mới nhất
			.form-groups
				label Hình thức chi trả
				.form-select
					select.form-control
						option Mới nhất
			.form-groups
				label Chi Phí Buổi Hẹn
				.select-groups-2
					.form-select
						select.form-control
							option $ 200
					.form-select
						select.form-control
							option $ 400
			.form-groups
				label Địa điểm
				.form-select
					select.form-control
						option Quốc gia
				.form-select
					select.form-control
						option Tỉnh/Thành phố
			.form-submit
				button.btn-submit.mr-20(type="submit") Áp dụng
