.profile-footer__users
	- for(x = 1; x < 13; x++)
		.profile-footer__user.profile-footer__user--active
			.profile-footer__user-info
				img(src="./img/nav-01.png", alt="")
				h3
					| Dollie Reid
					span 26
			.profile-footer__user-talk
				a(href='#')
					i.wd-icon.icon-chat
